<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tickr.digest</string>
  <key>ProgramArguments</key>
  <array>
    <string>__SCRIPT_PATH__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>DIGEST_TOKEN</key>
    <string>__DIGEST_TOKEN__</string>
    <key>WORKER_URL</key>
    <string>__WORKER_URL__</string>
    <key>CLAUDE_MODEL</key>
    <string>__CLAUDE_MODEL__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>8</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__LOG_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__LOG_PATH__</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
